<h1>ユーザー一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "詳細ページへ", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<table>
<%= current_user.id %>
<%= link_to '自分のページへ', "/users/#{current_user.id}"  %>
