<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:article) %>:</strong>
  <%= @report.article %>
</p>

<h2>コメント一覧</h2>
<% @report_comments.each do |report_comment| %>
  <p>投稿日時:<%=report_comment.created_at%></p><p>投稿者:<%=report_comment.posted_user_name%></p><p>コメント:<%=report_comment.chat%></p></br>
<%end%>

<h3>コメントを投稿する</h3>
<%= render 'comments/form', commentable: @report, comment: @comments %>

<% if @report.report_posted_user_id == current_user.id%>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %>
  <%= link_to t('views.common.destroy'), @report, method: :delete %>
<%end%>
<%= link_to t('views.common.back'), reports_path %>
